<div class="page-header">
  <h1>Matches</h1>
</div>

<%= render partial: "matches", object: @matches %>

<%= will_paginate @matches %>

<br /><br />

<%= link_to 'New Match', new_match_path, class: "btn btn-success" %>
